<ng-container  *ngIf="productName">
  <div class="fixed-container" [ngClass]="productName ? 'forward' : ''">
    <div class="fixed-body">
     <p><span>{{productName}}</span> Added</p>
    </div>
   </div>
</ng-container>
<div class="header-container" [ngClass]="productName ? 'padding' : '' ">
    <div class="header" hidden>
      <div class="headnote">
        <p class="headnote-flex"> 
          Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! &nbsp; 
          <a href="#">Shop Now</a>
        </p>
        <div class="language-container">
          <select name="language" id="language">
            <option *ngFor="let language of languages" [value]="language">{{language}}</option>
          </select>
          <!-- <button (click)="removeHeader()">X</button> -->
        </div>
      </div>
    </div>
    <div class="menu-header">
      <div class="menu-card">
        <div class="menu-logo">
          <button (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
          <a [routerLink]="''" (click)="hideNavBar()">aboMart</a>
        </div>
        <div class="menu-headers">
          <div class="menu-category" #removeNavBar [ngClass]="hideMenu ? 'absolute' : ''">
            <ul>
              <li><a (click)="hideNavBar()" [routerLinkActiveOptions]="{exact:true}" [routerLink]="''" [routerLinkActive]="'activeLink'">Home</a></li>
              <li><a (click)="hideNavBar()">Search</a></li>
              <li><a (click)="hideNavBar()">Contact</a></li>
              <li><a (click)="hideNavBar()">About</a></li>
              <li><a (click)="hideNavBar()" [routerLink]="'signup'" [routerLinkActive]="'activeLink'">Sign Up</a></li>
            </ul>
            <!-- disabled search input -->
            <div class="menu-search" *ngIf="false"> 
              <input type="text" id="search" placeholder="What are you looking for?">
              <button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
          <div class="menu-icon-header">
            <ul class="rel-icon-ul">
              <li>
                <button class="icon-i-btn" [routerLink]="'wishlist'" (click)="removeMenu()">
                  <span class="number-icon" *ngIf="wishListNumber > 0">{{wishListNumber}}</span>
                  <i class="fa-regular fa-heart" [ngClass]="wishListNumber > 0 ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
                </button>
              </li>
              <li>
                <button class="icon-i-btn" [routerLink]="'cart'" (click)="removeMenu()">
                  <span class="number-icon"  *ngIf="cartNumber > 0">{{cartNumber}}</span>
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </li>
              <li *ngIf="displayAccount" class="profile-dropdown-container">
                <button class="icon-i-btn" (click)="displayProlifeDropdown()">
                  <!-- <span  *ngIf="cartNumber > 0">{{cartNumber}}</span> -->
                  <i class="fa-solid fa-user"></i>
                </button>
                <div class="profile-dropdown-div" *ngIf="showProfile">
                  <div class="profile-ul">
                    <ul>
                      <li>
                        <button class="drop-profile pro-click">
                          <i class="fa-solid fa-user"></i>
                          <span>Manage My Account</span>
                        </button>
                      </li>
                      <li>
                        <button class="drop-profile pro-click">
                          <i class="fa-solid fa-bag-shopping"></i>
                          <span>My Order</span>
                        </button>
                      </li>
                      <li>
                        <button class="drop-profile pro-click">
                          <i class="fa-solid fa-ban"></i>
                          <span>My Cancellations</span>
                        </button>
                      </li>
                      <li>
                        <button class="drop-profile pro-click">
                          <i class="fa-regular fa-star"></i>
                          <span>My Reviews</span>
                        </button>
                      </li>
                      <li>
                        <button class="drop-profile pro-click">
                          <i class="fa-solid fa-right-from-bracket"></i>
                          <span>Logout</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>