<div class="footer-container">
    <div class="footer-header">
        <div class="footer-flex">
            <div class="footer footer-icon">
                <div class="footer-logo">
                    <p class="logo-footer">aboShopify</p>
                    <div class="footer-subscribe">
                        <p>Subscribe</p>
                        <p>Get 10% off your first order</p>
                        <div class="subscribe-input">
                            <input type="text" name="email" placeholder="Enter your mail">
                            <button><i class="fa-solid fa-envelope"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer footer-support">
                <div class="footer-support-header foot-header">
                    <p>Support</p>
                    <div class="support-col foot-col-flex">
                        <ul>
                            <li>111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</li>
                            <li><a href="mailto:exclusive@gmail.com">exclusive&#64;gmail.com</a></li>
                            <li><a href="tel:+88015-88888-9999">+88015-88888-9999</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer footer-account">
                <div class="footer-account-header foot-header">
                    <p>Account</p>
                    <div class="account-col foot-col-flex">
                        <ul>
                            <li><a [routerLink]="'home'">My Account</a></li>
                            <li><a [routerLink]="'home'">Login / Register</a></li>
                            <li><a [routerLink]="'home'">Cart</a></li>
                            <li><a [routerLink]="'home'">Wishlist</a></li>
                            <li><a [routerLink]="'home'">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer footer-quicklink">
                <div class="footer-quicklink-header foot-header">
                    <p>Quick Link</p>
                    <div class="quicklink-col foot-col-flex">
                        <ul>
                            <li><a [routerLink]="'home'">Privacy Policy</a></li>
                            <li><a [routerLink]="'home'">Terms Of Use</a></li>
                            <li><a [routerLink]="'home'">FAQ</a></li>
                            <li><a [routerLink]="'home'">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer footer-download">
                <div class="footer-download-header foot-header">
                    <p>Download App</p>
                    <div class="download-col">
                        <span>Save $3 with App User Only</span>
                        <div class="download-qrcode">
                            <img [src]="qrcode" alt="qrcode">
                        </div>
                    </div>
                    <div class="social-flex">
                        <ul>
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-twitter"></i></li>
                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-brands fa-linkedin"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-head">
        <p><i class="fa-regular fa-copyright"></i> Copyright Rimel {{currentYear}}. All Right Reserved</p>
    </div>
</div>