<div class="login-container">
    <div class="login-image">
        <div class="image-card">
            <img [src]="loginimg" alt="login-image">
        </div>
    </div>
    <div class="login-header">
        <div class="login-card">
            <div class="login-head">
                <p>Login to aboMart</p>
                <span>Enter your details below</span>
            </div>
            <div class="login-form">
                <form (ngSubmit)="loginAccount(form)" #form="ngForm" class="form">
                    <div class="form-input">
                        <label for="email">
                            <input
                            id="email"
                            autocomplete="off" 
                            type="text" 
                            placeholder="Email or Phone Number" 
                            name="email"
                            required
                            email
                            #email="ngModel"
                            ngModel
                            [ngStyle]="{borderBottomColor: email.valid ? '#28a745' : ''}">
                        </label>
                        <span *ngIf="!email.valid && email.touched" class="error">Incorrect email</span>
                    </div>
                    <div class="form-input">
                        <label for="password">
                            <span>
                                <i 
                                (click)="showPass(showPassword)" 
                                [ngClass]="toggleEye ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                            </span>
                            <input 
                            id="password"
                            type="password" 
                            #showPassword 
                            placeholder="Password" 
                            name="password"
                            required
                            #password="ngModel"
                            ngModel
                            [ngStyle]="{borderBottomColor: password.valid ? '#28a745' : ''}">
                        </label>
                        <span *ngIf="password.invalid && password.touched" class="error">This field is required</span>
                    </div>
                    <div class="form-input">
                        <div class="submit-btn">
                            <button 
                            (click)="form.valid"
                            type="submit">
                                Login
                            </button>
                            <button>Forgot Password?</button>
                        </div>
                    </div>
                    <div class="form-input login">
                        <p>Don't have an account? &nbsp; <span class="login-link"><a [routerLink]="'/signup'">Signup</a></span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>