<div class="login-container">
    <div class="login-image">
        <div class="image-card">
            <img [src]="loginimg" alt="login-image">
        </div>
    </div>
    <div class="login-header">
        <div class="login-card">
            <div class="login-head">
                <p>Login to aboMart</p>
                <span>Enter your details below</span>
            </div>
            <div class="login-form">
                <div class="form">
                    <div class="form-input" hidden>
                        <label for="name">
                            <input
                            id="name"
                            autocomplete="off" 
                            type="text" 
                            placeholder="Name" 
                            name="name" 
                            #blurName
                            (blur)="formBlurName()"
                            [(ngModel)]="nameInput" 
                            [ngStyle]="{borderBottomColor: nameInput != '' ? 'green' : 'rgb(0, 0, 0,.4)'}">
                        </label>
                    </div>
                    <div class="form-input">
                        <label for="email">
                            <input
                            id="email"
                            autocomplete="off" 
                            type="text" 
                            placeholder="Email or Phone Number" 
                            name="email"
                            #blurEmail
                            (blur)="formBlurEmail()"
                            [(ngModel)]="emailInput" 
                            [ngStyle]="{borderBottomColor: emailInput != '' ? 'green' : 'rgb(0, 0, 0,.4)'}">
                        </label>
                    </div>
                    <div class="form-input">
                        <label for="password">
                            <span>
                                <i 
                                (click)="showPass()" 
                                [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                            </span>
                            <input 
                            id="password"
                            type="password" 
                            #password 
                            placeholder="Password" 
                            name="password"
                            #blurPassword
                            (blur)="formBlurPassword()"
                            [(ngModel)]="passwordInput" 
                            [ngStyle]="{borderBottomColor: passwordInput != '' ? 'green' : 'rgb(0, 0, 0,.4)'}">
                        </label>
                    </div>
                    <div class="form-input">
                        <div class="submit-btn">
                            <button 
                            [routerLink]="'/home'"
                            (click)="loginAccount()"
                            type="submit" 
                            [ngStyle]="{backgroundColor: passwordInput == '' ||  emailInput == '' ? '#ed8e86' : '#EA4335'}"
                            [disabled]="passwordInput == '' || emailInput == ''">Login</button>
                            <button>Forgot Password?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>