<div class="signup-container">
    <div class="signup-image">
        <div class="image-card">
            <img [src]="signupimg" alt="signup-image">
        </div>
    </div>
    <div class="signup-header">
        <div class="signup-card">
            <div class="signup-head">
                <p>Create an account</p>
                <span>Enter your details below</span>
            </div>
            <div class="signup-form">
                <form class="form" (ngSubmit)="formSubmit(form)" #form="ngForm">
                    <div class="form-input">
                        <label for="name">
                            <input
                            name="name"
                            autocomplete="off" 
                            type="text" 
                            placeholder="Name" 
                            id="name" 
                            required
                            #name="ngModel"
                            ngModel
                            [ngStyle]="{borderBottomColor: name.valid ? '#28a745' : ''}">
                        </label>
                        <span *ngIf="name.invalid && name.touched" class="error">This field is required</span>
                    </div>
                    <div class="form-input">
                        <label for="email">
                            <input
                            name="email"
                            autocomplete="off" 
                            type="text" 
                            placeholder="Email or Phone Number" 
                            id="email"
                            required
                            email
                            #email="ngModel"
                            ngModel
                            [ngStyle]="{borderBottomColor: email.valid ? '#28a745' : ''}">
                        </label>
                        <span  *ngIf="!email.valid && email.touched" class="error">Incorrect email</span>
                    </div>
                    <div class="form-input">
                        <label for="password">
                            <span>
                                <i 
                                (click)="showPass(showPassoword)" 
                                [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                            </span>
                            <input 
                            #showPassoword
                            name="password"
                            type="password" 
                            placeholder="Password" 
                            id="password"
                            required
                            #passowrd="ngModel"
                            ngModel
                            [ngStyle]="{borderBottomColor: passowrd.valid ? '#28a745' : ''}">
                        </label>
                        <span  *ngIf="passowrd.invalid && passowrd.touched" class="error">This field is required</span>
                    </div>
                    <div class="form-input">
                        <div class="submit-btn" (click)="form.valid">
                            <button type="submit">Create Account</button>
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="submit-btn">
                            <button type="button">
                                <i class="fa-brands fa-google"></i> &nbsp; Sign up with Google
                            </button>
                        </div>
                    </div>
                    <div class="form-input login">
                        <p>Already have an account? &nbsp; <span class="login-link"><a [routerLink]="'/login'">Login</a></span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- [ngStyle]="{backgroundColor: passwordInput == '' ||  emailInput == '' || nameInput == '' ? '#ed8e86' : '#EA4335'}" -->