/* You can add global styles to this file, and also import other style files */
*,::after,::before{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body,html{font-family:'Poppins';scroll-behavior:smooth;}
* a{text-decoration:none;}
*{scroll-behavior:smooth;}
input:not([type="radio"],[type="checkbox"]){-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;appearance:none;}
* button{color:#000;}
i{transition:all .5s ease-in-out;}

@media screen and (max-width:768px) {
    input[type="text"],input[type="email"],input[type="password"],button{font-size:1rem;}
    i{font-size:1.3rem;}
}