<div class="container">
    <div class="hero-section-container">
        <div class="side-menu-container">
            <div class="menu-btn">
                <button (click)="displaySideMenu()"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="side-menu" [ngClass]="hideMenu ? 'display' : ''">
                <ul>
                    <li>Women's Fashion <i class="fa-solid fa-chevron-right"></i></li>
                    <li>Men's Fashion <i class="fa-solid fa-chevron-right"></i></li>
                    <li>Electronics</li>
                    <li>Home & Lifestyle</li>
                    <li>Medicine</li>
                    <li>Sports & Outdoor</li>
                    <li>Baby's & Toys</li>
                    <li>Groceries & Pets</li>
                    <li>Health & Beauty</li>
                </ul>
            </div>
        </div>
        <div class="hero-section-slideshow">
            <div class="slide-section-container">
                <div class="slide-side-container slide-flex">
                    <div class="apple-hero">
                        <p><i class="fa-brands fa-apple"></i> <span>iPhone 14 Series</span></p>
                    </div>
                    <div class="hero-section-note">
                        <h1>Up to 10% off Voucher</h1>
                    </div>
                    <div class="shop-now">
                        <a [routerLink]="''">Shop Now <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
                <div class="auto-slideshow slide-flex">
                    <div class="image-slideshow">
                        <img src="../../assets/images/hero.svg" alt="hero">
                    </div>
                    <div class="image-slideshow">
                        <img src="../../assets/images/boombox.svg" alt="boombox">
                    </div>
                    <div class="image-slideshow">
                        <img src="../../assets/images/north.svg" alt="north">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flashsale-container">
        <div class="today-container">
            <div class="today-box"></div>
            <span>Today's</span>
        </div>
        <div class="flashsale">
            <div class="flashsale-header">
                <span>Flash Sales</span>
                <div class="time-countdown">
                    <div>
                        <p>Days</p>
                        <p>{{days}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Hours</p>
                        <p>{{hours}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Minutes</p>
                        <p>{{minutes}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Seconds</p>
                        <p>{{seconds}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flashsale-product-container flex-product-container">
            <div class="flashsale-products flex-products">
                <div class="product-container" *ngFor="let product of products;" #productContainer>
                    <div class="product-image">
                        <div class="product-discount" *ngIf="product.discount > 0"><p>-{{product.discount}}%</p></div>
                        <div class="product-image-card">
                            <div class="image-product-card">
                                <img [src]="product.image" [alt]="product.name">
                            </div>
                            <!-- <button class="add-to-cart-btn">Add To Cart</button> -->
                        </div>
                        <button class="add-to-cart-btn">Add To Cart</button>
                        <button class="wishlist-btn">
                            <i 
                            #heart 
                            class="fa-regular fa-heart" 
                            [attr.data-id]="product.id"
                            (click)="getProduct(productContainer,product)"></i>
                        </button>
                    </div>
                    <div class="product-description">
                        <div class="product-name"><p>{{product.name}}</p></div>
                        <div class="product-price">
                            <p>${{product.price}}</p>
                            <p>${{product.old}}</p>
                        </div>
                        <div class="product-rating">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                            <p>({{product.review}})</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-container">
        <div class="category-head">
            <div class="category-box"></div>
            <span>Categories</span>
        </div>
        <div class="browse-category">
            <span>Browse By Category</span>
        </div>
        <div class="category-flex">
            <ul>
                <li>
                    <i class="fa-solid fa-bars"></i>
                    <span>All</span>
                </li>
                <li *ngFor="let category of categories">
                    <i [ngClass]="category.class"></i>
                    <span>{{category.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="selling-products-container">
        <div class="selling-head">
            <div class="selling-box"></div>
            <span>This Month</span>
        </div>
        <div class="selling-product">
            <span>Best Selling Products</span>
        </div>
        <div>
            <!-- <div> -->
                <div class="flashsale-product-container flex-product-container">
                    <div class="flashsale-products flex-products">
                        <div class="product-container" *ngFor="let product of sellingProducts;" #productContainer (click)="displayProduct(product)">
                            <!-- <div (click)="displayProduct()"> -->
                                <div class="product-image">
                                    <div class="product-discount" *ngIf="product.discount > 0"><p>-{{product.discount}}%</p></div>
                                    <div class="product-image-card">
                                        <div class="image-product-card">
                                            <img [src]="product.image" [alt]="product.name">
                                        </div>
                                        <!-- <button class="add-to-cart-btn">Add To Cart</button> -->
                                    </div>
                                    <button class="add-to-cart-btn">Add To Cart</button>
                                    <button class="wishlist-btn">
                                        <i 
                                        #heart 
                                        class="fa-regular fa-heart" 
                                        [attr.data-id]="product.id"
                                        (click)="getProduct(productContainer,product)"></i>
                                    </button>
                                </div>
                                <div class="product-description">
                                    <div class="product-name"><p>{{product.name}}</p></div>
                                    <div class="product-price">
                                        <p>${{product.price}}</p>
                                        <p>${{product.old}}</p>
                                    </div>
                                    <div class="product-rating">
                                        <ul>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>({{product.review}})</p>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>