.container{margin-bottom:100px;}
.hero-section-container{width:90%;margin:0 auto 50px;display:flex;gap:0 50px;}
.menu-btn{display:none;}
.side-menu-container{border-right:1px solid #b3b3b3;display:grid;grid-template-columns:max-content;}
.side-menu{padding:50px 25px 0 0;}
.side-menu ul{display:flex;flex-direction:column;gap:20px 0;}
.side-menu ul li{list-style:none;display:flex;align-items:center;justify-content:space-between;cursor:pointer}
.side-menu ul li i{margin-left:50px;transition:all .3s ease-in-out;color:#000;}
.side-menu ul li:hover i{transform:translateX(5px);}
.hero-section-slideshow{margin:50px 0 0;width:100%;background-color:#000;}
.hero-section-slideshow *{color:#fff;}
.slide-section-container{height:100%;display:flex;}
.slide-flex{width:100%;}
.apple-hero p{display:flex;align-items:center;gap:0 30px;}
.apple-hero p i{font-size:3rem;}
.apple-hero p span{font-weight:400;}
.slide-side-container{display:flex;flex-direction:column;justify-content:center;gap:20px 0;padding:50px;}
.hero-section-note h1{font-size:3rem;font-weight:500;}
.shop-now a{display:flex;align-items:center;gap:0 20px;text-decoration:none;}
.shop-now a span i{transition:all .3s ease-in-out;}
.shop-now a:hover span i{transform:translateX(5px);}
.auto-slideshow{margin:30px;position:relative;}
.auto-slideshow > *{animation: 12s slideshow infinite linear;position:absolute;left:0;opacity:0;}
.auto-slideshow .image-slideshow{width:100%;height:100%;}
.auto-slideshow .image-slideshow img{width:100%;height:100%;object-fit:contain;aspect-ratio:1;}
@keyframes slideshow{
    0%{opacity:0.0}
    4%{opacity:1.0}
    33.33%{opacity:1.0}
    37.33%{opacity:0.0}
    100%{opacity:0.0}
}
.image-slideshow:nth-child(1){animation-delay:0s;}
.image-slideshow:nth-child(2){animation-delay:4s;}
.image-slideshow:nth-child(3){animation-delay:8s;}

.flashsale-container{width:90%;margin:50px auto 0;}
.today-container *{color:#db4444;}
.today-container{display:flex;align-items:center;gap:0 20px;}
.today-box{width:20px;height:40px;border-radius:4px;background-color:#db4444;}
.today-container span{font-weight:600;}
.flashsale-header *{color:#000;}
.flashsale-header{margin-top:20px;gap:0 20px;align-items:end;}
.flashsale-header span{font-weight:600;font-size:2rem;font-family:'Inter';}
.flashsale-header{display:flex;}
.time-countdown{display:flex;gap:0 10px;align-items:end;}
.time-countdown div p{list-style:none;}
.time-countdown div p:first-child{font-size:.7rem;}
.time-countdown div p:last-child{font-weight:600;}
.time-countdown div{display:flex;flex-direction:column;}
.time-countdown span{color:#db4444;font-size:1.7rem;}
.menu-btn button{background-color:transparent;border:none;}
.menu-btn button i{font-size:1.5rem;}

.flashsale-product-container{margin-top:50px;}
.flashsale-products{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));flex-wrap:wrap;gap:20px 30px;}
.product-image{width:100%;aspect-ratio:1;background-color:#f5f5f5;position:relative;border-radius:4px;}
.wishlist-btn{padding:10px;border-radius:50%;border:none;background-color:#fff;position:absolute;top:7%;right:7%;}
.wishlist-btn i{font-size:1.5rem;}
.product-image-card{width:100%;aspect-ratio:1;padding:30px;}
.product-image-card img{width:100%;aspect-ratio:1;}
.product-discount{position:absolute;top:7%;left:7%;}
.product-discount{background-color:#db4444;padding:4px 14px;border-radius:4px;display:flex;align-items:center;justify-content:center;}
.product-discount p{text-align:center;color:#fff;font-size:.9rem;}

.product-description{display:flex;flex-direction:column;gap:5px 0;margin-top:15px;}
.product-name p{font-weight:600;text-transform:capitalize;font-size:1rem;}
.product-price{display:flex;align-items:center;gap:0 20px;}
.product-price p{font-size:.8rem;}
.product-price p:first-child{color:#db4444;}
.product-price p:last-child{color:#808080;text-decoration:line-through;}
.product-rating{display:flex;align-items:center;gap:0 10px;}
.product-rating ul{display:flex;gap:0 5px;align-items:center;}
.product-rating ul li{list-style:none;}
.product-rating ul li i{color:#ffad33;font-size:1rem;}

@media screen and (max-width:768px){
    .hero-section-container{flex-direction:column;width:100%;}
    .side-menu-container{border-right:none;grid-template-columns:initial;padding:0px;background-color:#000;}
    .side-menu-container *,.side-menu ul li i{color:#fff;}
    .menu-btn{display:flex;justify-content:end;padding:15px 20px;border-bottom:1px solid #fff;}
    .side-menu{padding:20px 20px 35px;display:none;}
    .side-menu ul{flex-direction:row;flex-wrap:wrap;gap:20px 25px;}
    .side-menu ul li{justify-content:initial;}
    .side-menu ul li i{margin-left:10px;}
    .slide-section-container{flex-direction:column-reverse;}
    .auto-slideshow{min-height:500px;height:auto;margin:0;padding:20px;}
    .auto-slideshow .image-slideshow{display:flex;align-items:center;justify-content:center;}
    .slide-side-container{padding:50px 50px 30px;}
    .auto-slideshow .image-slideshow img{width:90%;height:90%;}
    .flashsale-header{flex-direction:column;align-items:normal;}
    .time-countdown div p:first-child{font-size:.85rem;}
    .side-menu.display{display:block;}
    .flashsale-products{gap:35px 10px;grid-template-columns:repeat(auto-fit,minmax(calc(250px / 2),1fr));}
}