.container{margin-bottom:100px;}
.hero-section-container{width:90%;margin:0 auto 50px;display:flex;gap:0 50px;}
.menu-btn{display:none;}
.side-menu-container{border-right:1px solid #b3b3b3;display:grid;grid-template-columns:max-content;}
.side-menu{padding:50px 25px 0 0;}
.side-menu ul{display:flex;flex-direction:column;gap:20px 0;}
.side-menu ul li{list-style:none;display:flex;align-items:center;justify-content:space-between;cursor:pointer}
.side-menu ul li i{margin-left:50px;transition:all .3s ease-in-out;color:#000;}
.side-menu ul li:hover i{transform:translateX(5px);}
.hero-section-slideshow{margin:50px 0 0;width:100%;background-color:#000;}
.hero-section-slideshow *{color:#fff;}
.slide-section-container{height:100%;display:flex;}
.slide-flex{width:100%;}
.apple-hero p{display:flex;align-items:center;gap:0 30px;}
.apple-hero p i{font-size:3rem;}
.apple-hero p span{font-weight:400;}
.slide-side-container{display:flex;flex-direction:column;justify-content:center;gap:20px 0;padding:50px;}
.hero-section-note h1{font-size:3rem;font-weight:500;}
.shop-now a{display:flex;align-items:center;gap:0 20px;text-decoration:none;}
.shop-now a span i{transition:all .3s ease-in-out;}
.shop-now a:hover span i{transform:translateX(5px);}
.auto-slideshow{margin:30px;position:relative;}
.auto-slideshow > *{animation: 12s slideshow infinite linear;position:absolute;left:0;opacity:0;}
.auto-slideshow .image-slideshow{width:100%;height:100%;}
.auto-slideshow .image-slideshow img{width:100%;height:100%;object-fit:contain;aspect-ratio:1;}
@keyframes slideshow{
    0%{opacity:0.0}
    4%{opacity:1.0}
    33.33%{opacity:1.0}
    37.33%{opacity:0.0}
    100%{opacity:0.0}
}
.image-slideshow:nth-child(1){animation-delay:0s;}
.image-slideshow:nth-child(2){animation-delay:4s;}
.image-slideshow:nth-child(3){animation-delay:8s;}
.product-flex-container{width:90%;margin:50px auto 0;}
.container :is(.product-head *){color:#db4444;}
.container :is(.product-head){display:flex;align-items:center;gap:0 20px;}
.container :is(.product-box){width:20px;height:40px;border-radius:4px;background-color:#db4444;}
.container :is(.product-head span){font-weight:600;}
.container :is(.product-header *){color:#000;}
.container :is(.product-header){margin-top:20px;gap:0 20px;align-items:start;}
.flashsale-header{align-items:end;margin-top:20px;gap:0 20px;}
.container :is(.product-header span){font-weight:600;font-size:1.8rem;font-family:'Inter';}
.container :is(.product-header){display:flex;}
.time-countdown{display:flex;gap:0 10px;align-items:end;}
.time-countdown div p{list-style:none;}
.time-countdown div p:first-child{font-size:.7rem;}
.time-countdown div p:last-child{font-weight:600;}
.time-countdown div{display:flex;flex-direction:column;}
.time-countdown span{color:#db4444;font-size:1.7rem;}
.menu-btn button{background-color:transparent;border:none;}
.menu-btn button i{font-size:1.5rem;}
.flex-product-container{margin-top:50px;}
.flex-products{display:grid;grid-template-columns:repeat(auto-fill,minmax(250px,1fr));flex-wrap:wrap;gap:20px 30px;}
.product-container{display:flex;flex-direction:column;justify-content:space-between;}
.product-image{width:100%;aspect-ratio:1;background-color:#f5f5f5;position:relative;border-radius:4px;}
.wishlist-btn{padding:7px;border-radius:50%;border:none;background-color:#fff;position:absolute;top:7%;right:7%;cursor:pointer;}
.wishlist-btn i{font-size:1.5rem;color:#db4444;}
.product-image-card{width:100%;aspect-ratio:1;}
.image-product-card{width:100%;padding:20px 30px;height:100%;}
.add-to-cart-btn{width:100%;padding:10px 0;color:#fff;font-weight:500;font-family:'Inter';font-size:1rem;background-color:#000;border-radius:0 0 4px 4px;}
.product-image-card img{width:100%;aspect-ratio:1;object-fit:contain;}
.product-discount{position:absolute;top:7%;left:7%;z-index:1;}
.product-discount{background-color:#db4444;padding:4px 14px;border-radius:4px;display:flex;align-items:center;justify-content:center;}
.product-discount p{text-align:center;color:#fff;font-size:.9rem;}
.product-description{display:flex;flex-direction:column;gap:5px 0;margin-top:15px;cursor:pointer;}
.product-name p{font-weight:600;text-transform:capitalize;font-size:1rem;}
.product-price{display:flex;align-items:center;gap:0 10px;}
.product-price p{font-size:.8rem;}
.product-price p:first-child{color:#db4444;}
.product-price p:last-child{color:#808080;text-decoration:line-through;}
.product-rating{display:flex;align-items:center;gap:0 10px;}
.product-rating ul{display:flex;gap:0 5px;align-items:center;}
.product-rating ul li{list-style:none;}
.product-rating ul li i{color:#ffad33;font-size:1rem;}
.product-image-card{position:relative;overflow-y:hidden;}
.add-to-cart-btn{position:absolute;bottom:0;border:none;cursor:pointer;}
.category-flex{margin:50px 0 0;}
.category-flex ul{display:grid;gap:20px;grid-template-columns:repeat(auto-fill,minmax(120px,1fr));}
.category-flex ul li{padding:20px;border:1px solid #b3b3b3;border-radius:4px;list-style:none;width:100%;aspect-ratio:1;}
.category-flex ul li{display:flex;align-items:center;justify-content:center;flex-direction:column;gap:5px 0;}
.category-flex ul li span{color:#000;font-size:.9rem;}
.category-flex ul li i{font-size:2rem;}
.category-flex ul li:first-child{background-color:#db4444;border:1px solid #db4444;}
.category-flex ul li:first-child :is(i,span){color:#fff;}
.quantity-btn-container{width:100%;justify-content:space-between;position:absolute;bottom:0;align-items:center;background-color:#000;}
.quantity-btn-container{padding:5px 20px;display:none;border-radius:0 0 4px 4px;}
.quantity-btn-container button{background-color:#fff;box-shadow:0px 0px 5px 1px #fff;}
.quantity-btn-container button{padding:5px 8px;font-weight:500;font-family:'Inter';font-size:1rem;border:none;border-radius:4px;cursor:pointer;}
.quantity-btn-container span{color:#fff;font-size:1rem;cursor:pointer;font-family:'Inter';font-weight:500;}
.add-to-cart-btn.hide{display:none;}
.quantity-btn-container.show{display:flex;}
.add-to-cart-btn{opacity:0;transition:all .2s ease-in-out;transform:translateY(50px);}
.product-image-card:hover .add-to-cart-btn{opacity:1;transform:translateY(0);}
.featured-flex{margin:50px 0 0;}
.featured-flex{display:grid;gap:10px;grid-template-columns:repeat(4,1fr);grid-template-rows:repeat(2,250px);}
.featured-box-flex{border-radius:4px;}
.featured-box-1{grid-column:span 2;grid-row:span 2;}
.featured-box-2{grid-column:span 2;grid-row:span 1}
.featured-box-3{grid-column:span 1;grid-row:span 1}
.featured-box-4{grid-column:span 1;grid-row:span 1}
.bg-featured{background-color:#000;background-repeat:no-repeat;background-size:auto;background-position:center;border-radius:4px;}
.bg-featured{display:flex;align-items:start;flex-direction:column;justify-content:end;}
.bg-featured{width:100%;height:100%;aspect-ratio:1;}
.bg-image-box-1{background-image:url("/assets/images/ps5.svg");}
.bg-image-box-2{background-color:#0e0e0e;background-image:url("/assets/images/hat.svg");background-position:right;background-size:contain;}
.bg-image-box-3{background-color:#1e1e1e;background-image:url("/assets/images/speaker.svg");}
.bg-image-box-4{background-color:#2a2a2a;background-image:url("/assets/images/perfume.svg");}
.bg-image-flex{display:flex;flex-direction:column;gap:6px 0;padding:25px;}
.bg-image-flex :is(p,a){color:#fff;}
.bg-image-flex p:first-child{font-weight:600;font-family:'Inter';font-size:1.1rem;}
.bg-image-flex p:nth-child(2){font-size:.8rem;font-weight:400;}
.bg-image-flex a{text-decoration:underline;font-weight:500;width:fit-content;}
.bottom-icon-container{width:90%;margin:100px auto 50px;}
.icon-bottom-flex{display:flex;justify-content:center;gap:0 50px;}
.card-flex-bm{display:flex;align-items:center;flex-direction:column;gap:20px 0;}
.bottom-card-icon{background-color:#c1c0c1;border-radius:50%;width:60px;height:60px;;display:flex;justify-content:center;align-items:center;}
.bottom-card-icon span{background-color:#000;border-radius:50%;width:40px;height:40px;display:flex;align-items:center;justify-content:center;}
.bottom-card-icon span i{color:#fff;font-size:1rem;}
.bottom-card-note{display:flex;flex-direction:column;gap:0;align-items:center;}
.bottom-card-note p{text-transform:uppercase;font-weight:600;}
.bottom-card-note span{font-size:.8rem;color:#000;}
@media screen and (max-width:768px){
    .hero-section-container{flex-direction:column;width:100%;}
    .side-menu-container{border-right:none;grid-template-columns:initial;padding:0px;background-color:#000;}
    .side-menu-container *,.side-menu ul li i{color:#fff;}
    .menu-btn{display:flex;justify-content:end;padding:5px 20px;border-bottom:1px solid #fff;}
    .side-menu{padding:20px 20px 35px;display:none;}
    .side-menu ul{flex-direction:row;flex-wrap:wrap;gap:20px 25px;}
    .side-menu ul li{justify-content:initial;}
    .side-menu ul li i{margin-left:10px;}
    .slide-section-container{flex-direction:column-reverse;}
    .auto-slideshow{min-height:500px;height:auto;margin:0;padding:20px;}
    .auto-slideshow .image-slideshow{display:flex;align-items:center;justify-content:center;}
    .slide-side-container{padding:50px 50px 30px;}
    .auto-slideshow .image-slideshow img{width:90%;height:90%;}
    .flashsale-header{flex-direction:column;align-items:normal;}
    .time-countdown div p:first-child{font-size:.85rem;}
    .side-menu.display{display:block;}
    .flex-products{gap:35px 10px;grid-template-columns:repeat(auto-fill,minmax(calc(250px / 2),1fr));}
    .quantity-btn-container button{font-size:.85rem;padding:3px 6px;}
    .add-to-cart-btn{font-size:.85rem;padding:8px 0;}
    .category-flex ul{grid-template-columns:repeat(auto-fill,minmax(60px,1fr));gap:10px;}
    .category-flex ul li{padding:0px;}
    .category-flex ul li span{font-size:.6rem;}
    .category-flex ul li i{font-size:1rem;}
    .flashsale-header{align-items:start;gap:5px 0;}
    .container :is(.flashsale-header, .browse-category, .selling-product){margin-top:10px;}
    .container :is(.today-container, .category-head, .selling-head){gap:0 10px;}
    .add-to-cart-btn{opacity:1;transform:translateY(0);}
    .featured-flex{display:flex;flex-direction:column;}
    .bg-image-box-1{background-size:contain;}
    .bottom-icon-container{margin-top:60px;}
    .icon-bottom-flex{flex-direction:column;gap:20px 0;}
    .quantity-btn-container button i{font-size:inherit;}
}