<div class="container">
    <div class="hero-section-container">
        <div class="side-menu-container">
            <div class="menu-btn">
                <button (click)="displaySideMenu()"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="side-menu" [ngClass]="hideMenu ? 'display' : ''">
                <ul>
                    <li>Women's Fashion <i class="fa-solid fa-chevron-right"></i></li>
                    <li>Men's Fashion <i class="fa-solid fa-chevron-right"></i></li>
                    <li>Electronics</li>
                    <li>Home & Lifestyle</li>
                    <li>Medicine</li>
                    <li>Sports & Outdoor</li>
                    <li>Baby's & Toys</li>
                    <li>Groceries & Pets</li>
                    <li>Health & Beauty</li>
                </ul>
            </div>
        </div>
        <div class="hero-section-slideshow">
            <div class="slide-section-container">
                <div class="slide-side-container slide-flex">
                    <div class="apple-hero">
                        <p><i class="fa-brands fa-apple"></i> <span>iPhone 14 Series</span></p>
                    </div>
                    <div class="hero-section-note">
                        <h1>Up to 10% off Voucher</h1>
                    </div>
                    <div class="shop-now">
                        <a [routerLink]="''">Shop Now <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
                <div class="auto-slideshow slide-flex">
                    <div class="image-slideshow">
                        <img src="../../assets/images/hero.svg" alt="hero">
                    </div>
                    <div class="image-slideshow">
                        <img src="../../assets/images/boombox.svg" alt="boombox">
                    </div>
                    <div class="image-slideshow">
                        <img src="../../assets/images/north.svg" alt="north">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flashsale-container">
        <div class="today-container">
            <div class="today-box"></div>
            <span>Today's</span>
        </div>
        <div class="flashsale">
            <div class="flashsale-header">
                <span>Flash Sales</span>
                <div class="time-countdown">
                    <div>
                        <p>Days</p>
                        <p>{{days}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Hours</p>
                        <p>{{hours}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Minutes</p>
                        <p>{{minutes}}</p>
                    </div>
                    <span>:</span>
                    <div>
                        <p>Seconds</p>
                        <p>{{seconds}}</p>
                    </div>
                    <!-- <span></span> -->
                </div>
            </div>
        </div>
    </div>
</div>